<h1>New author</h1>
<form action="/authors/" method="post">
  <input type="text" name="First name" placeholder="First name">
  <input type="text" name="Last name" placeholder="Last name">
  <input type="url" name="Homepage" placeholder="Homepage">
  <button id="Create Author" type="submit">Create Author</button>
</form>